langchain_openai
langchain_core
langchain_core
ollama
langchain_community
streamlit 
os 
dotenv
python-dotenvlangserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
sse_starlette
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox

